@model _72NetworkBootstraped.Models.SignInModel

@{
  ViewBag.Title = "SignIn";
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
  @Html.AntiForgeryToken()
  <div class="container">
    <div id="loginbox" style="margin-top:50px; margin-bottom:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Sign In</div>
          <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
        </div>
        <div style="padding-top:30px" class="panel-body">
          <div style="color:red">
            @Html.ValidationSummary(true)
          </div>
          <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
          <form id="loginform" class="form-horizontal" role="form">
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "username or email" })
            </div>
            <div style="margin-bottom: 10px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "password" })
            </div>
            <div class="input-group">
              <div class="checkbox">
                <label>
                  @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox" })
                  @Html.LabelFor(m => m.RememberMe)
                </label>
              </div>
            </div>
            <div style="margin-bottom:10px" class="form-group">
              <!-- Button -->
              <div class="controls">
                <input type="submit" class="btn btn-success" value="Sign In" id="btn-login" name="submit" />
              </div>
            </div>
            <div class="form-group">
              <div class="control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                  Don't have an account!
                  @Html.ActionLink("Sign Up Here", "SignUp", "Account")
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
}
